<%#= form_for(criterium_subcriteria_path, :criterium_id=>@criterium.id) do |f| %>
<%= form_for([@criterium, @subcriterium]) do |f| %>
<%#= form_for(:subcriterium, [@criterium, @subcriterium], url: criterium_subcriterium_path) do |f| %>
  <% if @subcriterium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subcriterium.errors.count, "error") %> prohibited this subcriterium from being saved:</h2>

      <ul>
      <% @subcriterium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
      <%= f.label :tipe %><br>
      <%= f.select :tipe, options_for_select([['structured', true], ['unstructured',false]]) %>
  </div>

  <div class="field">
      <%= hidden_field_tag 'subcriterium[criteria_id]', @criterium.id %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-block btn-primary' %>
  </div>
<% end %>
