<% if notice %><p id="notice"><%= notice %></p><% end %>
<h1>Daftar Kriteria</h1>

<table class="table table-condensed table-bordered table-striped">
  <thead>
    <tr>
      <th>Kriteria</th>
      <th>Aksi</th>
    </tr>
  </thead>

  <tbody>
    <% @criteria.each do |criterium| %>
      <tr>
        <td><%= criterium.name %></td>
        <td>
          <div class="btn-group">
            <%= link_to 'Edit', edit_criterium_path(criterium), class: 'btn btn-primary' %>
            <%= link_to 'Sub', criterium_subcriteria_path(criterium), class: 'btn btn-primary' %>
            <%= link_to 'Hapus', criterium, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Input Kriteria Baru', new_criterium_path, class: 'btn btn-primary btn-block' %>
