<p id="notice"><%= notice %></p>

<h1>Listing Belajars</h1>

<table>
  <thead>
    <tr>
      <th>Nama</th>
      <th>Ruang</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @belajars.each do |belajar| %>
      <tr>
        <td><%= belajar.nama %></td>
        <td><%= belajar.ruang %></td>
        <td><%= link_to 'Show', belajar %></td>
        <td><%= link_to 'Edit', edit_belajar_path(belajar) %></td>
        <td><%= link_to 'Destroy', belajar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Belajar', new_belajar_path %>
