<p id="notice"><%= notice %></p>

<h1>Listing Unstructured Data</h1>
<a href="<%= unstructured_data_ahp_path %>" class="btn btn-blockk btn-primary">Hitung AHP</a>
<table class="table table-condensed table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Subcriterium</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @unstructured_data.each do |unstructured_datum| %>
      <tr>
        <td><%= unstructured_datum.name %></td>
          <td><%= unstructured_datum.subcriterium.name %></td>
        <td><%= link_to 'Show', unstructured_datum %></td>
        <td><%= link_to 'Edit', edit_unstructured_datum_path(unstructured_datum) %></td>
        <td><%= link_to 'Destroy', unstructured_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unstructured datum', new_unstructured_datum_path, class: 'btn btn-block btn-primary' %>
