<% if notice %>
<p id="notice" class="alert alert-info"><%= notice %></p>
<% end %>

<h1>Daftar Lahan</h1>

<table class="table table-condensed table-bordered table-striped">
  <thead>
    <tr>
      <th>Nama Lahan</th>
      <th>Aksi</th>
    </tr>
  </thead>

  <tbody>
    <% @areas.each do |area| %>
      <tr>
        <td><%= area.name %></td>
        <td>
          <div class="btn-group">
              <% if current_user.role.id ==3 %>
                <a href="<%=area_calculate_path(id: area.id)%>" class="btn btn-mini btn-primary">Cek Rekomendasi</a>
              <% else %>
            <%= link_to 'Lihat', area, class: 'btn btn-mini btn-primary' %>
            <%= link_to 'Edit', edit_area_path(area), class: 'btn btn-mini btn-primary' %>
            <%= link_to 'Hapus', area, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger' %>
              <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Buat Lahan Baru', new_area_path, class: 'btn btn-primary btn-block' %>
